
body{
    background-color: #050404;
}

.container {
    width: 1200px;
    margin: auto;
    display: flex;
    justify-content: flex-start;
}
.section1{
    width: 20%;
    background-color: #1b1c1c85;
}
.head{
    width: 100%;
}
.cn{
    font-size: 30px;
    font-family: sans-serif;
    /* padding-top: 15px; */
    color: #757370;
    padding-left: 16px;
}
.logo{}
.logo img{
    width: 100%;
    padding-top: 0px;
}
.menu{
    height: auto;
}
.row2{
}
.row2 ul{
    text-decoration: none;
    padding-left: 35px;
}
.row2 ul li{
    list-style: none;
    padding: 10px 0px;
}
.row2 ul li a{
    text-decoration: none;
    color: gray;
    padding: 5px;
}
.offer{height: 160px;width: 100%;}
.button{
    padding: 10px;
    padding-left: 26px;
}
.button-1{
    width: 180px;
    font-size: 20px;
    font-family: sans-serif;
    color: #f4e4df;
    padding: 16px 0px;
    border: 1px solid burlywood;
    cursor: pointer;
    border-radius: 18px;
    background-color: #ff7947;
}
.button:hover{}
.button-2:hover{}
.button-2{
    background-color: #060606;
    width: 180px;
    font-size: 20px;
    font-family: sans-serif;
    color: #f6d2c2;
    padding: 16px 0px;
    border: 1px solid burlywood;
    cursor: pointer;
    border-radius: 18px;
}
.activities{}
.fotter{
    padding: 22px;
    padding-left: 0px;
}
.fotter ul{
	padding-left: 25px;
}
.fotter ul li{
    list-style: none;
    padding: 10px;
    display: flex;
}
.fotter ul li a{
    text-decoration: none;
    color: gray;
    display: flex;
}
.fotter ul li a i{
    padding-top: 17px;
}
.cart{
	padding-left: 15px;
}
.flex{padding: 58px 0px;}
.flex ul{
    display: flex;
    justify-content: space-evenly;
    text-decoration: none;
    padding-left: 0px;
}
.flex ul li{
	list-style: none;
}
.flex ul li a{color: red;
	text-decoration: none;
}
.section2{
    width: 26.6%;
    height: 1000px;
}
.row2{
}
.col-1{
    height: 333px;
    width: 100%;
}
.col-1 a{}
.col-1 a img{
    width: 100%;
    height: 333px;
}
li.price{
    font-size: 14px;
    padding: 0px;
}
li.name{
    font-size: 20px;
    padding: 0px;
}
.index{
    /* position: absolute; */
    /* width: 186px; */
    /* padding: 0px 0px; */
}

.bal{
    position: absolute;
}
.bal ul{
    list-style: none;
    padding-left: 15px;
}
.bal ul li a{text-decoration: none;
			color: gray;
		}

.section2{
    width: 26.6%;
    height: 1000px;
}

.col-2{
    height: 500px;
}
.col-2 a{}
.col-2 a img{
    max-width: 100%;
    height: 500px;
}
li.price{
    font-size: 14px;
    padding: 0px;
}
li.name{
    font-size: 20px;
    padding: 0px;
}
.index{
    /* position: absolute; */
    /* width: 186px; */
    /* padding: 0px 0px; */
}

.bal{
    position: absolute;
}
.bal ul{
    list-style: none;
    padding-left: 15px;
}
.bal ul li a{text-decoration: none;
			color: gray;
		}

.section2{
    width: 26.6%;
    height: 1000px;
}

.col-3{
    height: 250px;
}
.col-3 a{}
.col-3 a img{
    max-width: 100%;
    height: 250px;
}
li.price{
    font-size: 14px;
    padding: 0px;
    background-color: #ff7947;
    border: 2px solid darkgray;
    border-radius: 5px;
}
li.name{
    font-size: 20px;
    padding: 0px;
    background-color: #ff7947;
    border: 2px solid darkgray;
    border-radius: 5px;
}
.index{
    /* position: absolute; */
    /* width: 186px; */
    /* padding: 0px 0px; */
}

.bal{
    position: absolute;
}
.bal ul{
    list-style: none;
    padding-left: 15px;
}
.bal ul li a{
			text-decoration: none;
			color: #201f1f;
		}